@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px)
	.navbar
		.nav-container
			.nav-nav
				.block-menu-wrapper
					grid-column-gap: 2px
					li
						a
							font-size: 14px

	.main-page
		text-align: center

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.navbar
		.nav-container
			.nav-nav
				.block-menu-wrapper
					li
						a
							font-size: 12px


/* Small Devices, Tablets */
@media only screen and (max-width : 900px)
	.navbar
		grid-template-columns: minmax(20px, auto) minmax(200px, 1200px) minmax(20px, auto)
		.nav-container
			.nav-nav
				display: none
			.nav-lang
				grid-column: 2 / 4

	.jislider
		li
			h1, h2
				font-size: 40px


	.item
		grid-template-columns: minmax(20px, auto) minmax(200px, 1200px) minmax(20px, auto)
		height: auto
		.main-zag-block
			padding: 0
			grid-column: 1 / 3
			background-image: none
			&::before
				display: none
		.form-style
			padding: 20px
			grid-column: 1 / 3
			.f-row-2col
				grid-column-gap: 0
				grid-row-gap: 16px
				grid-template-columns: 100%
				div
					grid-column: 1 / 3
			.f-row-2col:last-child
		      margin: 20px 0 0 0
		      button
		         grid-column: 1 / 3


	.text-block
		grid-template-columns: minmax(20px, auto) minmax(200px, 1200px) minmax(20px, auto)


	footer
		grid-template-columns: auto minmax(200px, 800px) auto
		padding: 40px 0
		.footer-content-wrapper
			grid-column: 2 / 3
			grid-template-columns: 1fr
			align-items: center
			grid-gap: 40px
			.footer-logo
				position: relative
				margin: 0 auto
			.footer-rights
				order: 2
			.footer-logo, .footer-email, .footer-rights
				grid-column: 1 / 2
				align-self: center
				text-align: center


@media only screen and (max-width : 600px)
	.item
		.grid-col-container
			.content-wrapper
				grid-template-columns: minmax(240px, 600px)

	.advantage-block
		grid-template-columns: auto minmax(240px, 600px) auto
		grid-column-gap: 10px
		.cover-adv-block
			grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))

	.jislider
		li
			h1, h2
				font-size: 28px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	h1, h2
		font-size: 28px
	.navbar
		grid-template-columns: 10px auto 10px
		height: 60px
		.nav-container
			grid-gap: 0
			.nav-logo
				width: 140px

	.jislider
		li
			h1, h2
				font-size: 20px

	.jislider__right-arrow
		right: 10px
	.jislider__left-arrow
		left: 10px

	.item
		grid-template-columns: 10px minmax(200px, 1200px) 10px
		.grid-col-container
			/**/
	.main-zag-block
		padding: 20px 10px
	.form-style
		padding: 10px
	footer
		.footer-content-wrapper
			.footer-logo
				width: 140px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
